= form.input :content, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Full'} }
= form.input :style, as: :select, default: 1 ,collection: [["default", "/assets/templates/default"], ["template_1", "/assets/templates/template_1"]]
