- action = if @slide.new_record? then "create" else "update" end
= simple_form_for(@slide, html:{class: 'form-horizontal', :multipart => true}) do |f|
  = f.input :type, :input_html => { :id => "typeDropDown" }, collection: [['Web page', 'UrlSlide'],['Image', 'ImageSlide']], as: :select, include_blank: false if @slide.new_record?
  %div{:id => 'slideForm'}
    - if @slide.type == 'UrlSlide'
      = render partial: "url_slide", locals: { :f => f }
    - elsif @slide.type =="ImageSlide"
      = render partial: "image_slide", locals: { :f => f }
