<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>Slide</title>
  <%= stylesheet_link_tag absolute_asset_path('public/slide.css') %>
  <style type="text/css">
    /* Use this to override default styles */
  </style>
</head>
<body>
  <h1>Test header</h1>
  <img src="http://upload.wikimedia.org/wikipedia/fi/e/e6/Avaus_LOGO_BLUE.png" style="float: right;" />
  <p>Bacon ipsum dolor sit amet sausage cow hamburger beef, meatloaf salami short ribs corned beef short loin doner capicola fatback shank. Capicola beef filet mignon leberkas swine shankle tenderloin. Sausage biltong shoulder, cow pancetta ribeye t-bone tri-tip. Chicken pork loin tail t-bone pig.</p>

  <p>Andouille tri-tip t-bone prosciutto. Tenderloin t-bone boudin pancetta. Strip steak corned beef spare ribs short ribs pastrami pork ball tip tail. Tri-tip pig salami fatback.</p>

  <p>Ground round pork loin sausage rump, shankle beef swine pork boudin jowl frankfurter bacon tenderloin capicola. Filet mignon shank bresaola, ham doner kielbasa venison. Chicken boudin bresaola flank, capicola fatback pork loin ham hock andouille. Strip steak turducken ground round, shankle tongue doner kielbasa sausage biltong corned beef boudin. Salami tail kielbasa beef ribs.</p>
</body>
</html>