%h2
  = t(:slide_listing)
%ol#slide_list
  - slides.each do |slide|
    %li{style: "clear: both"}
      .span4
        = link_to slide.name, url_for(slide)
      .span4
        - if dest_channel
          = link_to(t(:add_to_channel), {:controller => 'channel_slides', :action => 'create', :slide_id => slide.id, :channel_id => dest_channel.id}, {:method => 'post'})
