%ol.slide_list
  - slides.each do |slide|
    %li.slide_item.all_slide.well-small{:id => "slide_#{slide.id}"}
      %div.slide_name{class: "asd"}
      - if slide.type == 'UrlSlide'
        %i.icon-align-justify
      - elsif slide.type == 'YoutubeSlide'
        %i.icon-facetime-video
      - elsif slide.type == 'ImageSlide'
        %i.icon-picture

      = link_to slide.name, url_for(slide), :class => "black-text"
      %form.hidden
        %input.slide{type: "hidden"}
          #{slide.id}


