%h2
  = t(:slide_listing)
%ol.slide_list.all_slides
  - slides.each do |slide|
    %li.slide_item.all_slide.well-small
      %div.slide_name{class: "asd"}
        = link_to slide.name, url_for(slide), :class => "black-text"
      %form.hidden
        %input.slide{type: "hidden"}
          #{slide.id}


