*{
  margin: 0px;
  padding: 0px;
}

html{
  height: 100%;
}

.navbar{
  margin-bottom: 0;
}

.navbar-inner{
  padding-left: 1% !important;
}

body{
  width: 100%;
  height: 100%;
}

ul{
  margin: 0px;
}

ul.slides{
  clear: both;
}

li{
  list-style: none;

}

ol{
  margin: 0px;
}

li.header-button:hover {
  background: rgba(192, 243, 253, .3);
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.2);
}

h4{
  font-size: 180%;
  width: super;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h5{
  font-size: 150%;
}

p.create-channel{
  white-space: nowrap;
  margin: 0px;
  padding-right: 20px;
}

p.def {
  font-size: 60%;
  position: fixed;
  float: bottom;
  padding-top: 3px;
}

a{
  word-wrap:break-word;
}

.container-fluid,.row-fluid{
  width: 100%;
  position: absolute;
  top: 70px;
  bottom: 0px;
}

.span1{
  height: 97%;
  font-size: 30px;
  text-align: center;
  line-height: 100%;
}

.span1:hover{
  background-color: rgb(58, 63, 68);
  opacity: 0.8;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
}

.span2{
  height: 97%;
  position: relative;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  behavior: url(/assets/PIE.htc);
}

.span5{
  padding-left: 15px;
  position: relative;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  behavior: url(/assets/PIE.htc);
}

.span6{
  padding-left: 15px;
  position: relative;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  behavior: url(/assets/PIE.htc);
}

.hdr{
  padding-bottom: 15px;
}

.btn-group{
  padding-top: 4px;
}

i{
  display: block;
}
i:hover{
  text-decoration: none;
}

i.icon-cog{
  width: 10px;
  padding-right: 2px;
}

i.icon-plus{
  float: left;
}

.icon-chevron-left{
  position: absolute;
  top: 50%;
  text-align: center;
}

.icon-chevron-right{
  position: absolute;
  top: 50%;
  text-align: center;
}

.float-left{
  float: left;
}

.center{
  text-align: center;
}

a.disabled-link,
a.disabled-link:visited ,
a.disabled-link:active,
a.disabled-link:hover {
  background-color:#d9d9d9 !important;
  color:#aaa !important;
}

#content{
}

#content.dashboard{
}

#content:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

.fullscreen:-moz-full-screen {
  width: 100%;
  height: 100%;
}

.error_box{
  border-radius: 30px;
  position: fixed;
  top: 25%;
  left: 25%;
  height: 50%;
  width: 50%;
  color: white;
  background-color: black;
}

.error_msg{
  text-align: center;
}
.slide_item{
  margin-bottom: 8px;
  background-color: #B0B0B0 ;
  clear: both;
}
.well-small{
}
.remove_slide{
  margin-left: 50px;
}
.black-text, .black-text:hover{
  color: black;
  font-weight: bold;
}
.hidden{
  display: none;
}

.droppable-box{
  padding: 10px;
  min-height: 200px;
  border-style: dotted;
  border-color: grey;
  border-width: 2px;
 



}